*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}body{
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    padding-bottom: 50px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.nav{
    position: fixed;
    background-color: #573e3e;
    top: 90px;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}
.nav .coontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}
.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;

}
.nav a{
    color: white;
    padding: 7px 15px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.nav .active{
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.3);
}
.nav .active a{
    color: #000;
}
.nav .active .container{
    padding: 10px 0;
}
.nav a:hover{
    color: #744e94;
    font-weight: bold;

}
.hero{
     background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: bottom center;
     height: 100vh;
     display: flex;
     color: #ffff;
     justify-content: center;
     align-items: center;
     text-align: center;
     position: relative;
     margin-bottom: 20px;
     z-index: -2;
}
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5); /**/
    z-index: -1;
}
.hero h1{
    font-size: 46px;
    margin: -20px 0 20px;
}
.hero p{
    font-size: 20px;
    letter-spacing: 1px;
}
.content h2, .content h3{
    font-size: 150%;
    margin: 20px 0;
}
.content p{
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
}
/* Contact */
.formControl{
    margin: 50px auto;
    background-color: #eee;
    border-radius: 15px;
    width: 50%;
    height: auto;
    padding: 40px;
}
.number{
    background-color: rgb(17, 37, 37);
    color: #ffffff;
    font-size: 20px;
    padding: 1px;
    margin-right: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50%;
}
.formControl input{
    padding: 10px;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(221, 221,  221);
}
.formControl input:invalid{
    border: 1px solid red;
}
.formControl input:valid{
    border: 1px solid green;
}
.formControl h1{
    margin: 10px 0;
}
.formControl select{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(221, 221,  221);
    padding: 5px;
}
.Terms button{
    padding: 20px 0;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -5px;
    transition-duration: 0.2s;
}
.Terms button:hover{
    background-color: rgb(87, 87, 87);

}
center h1{
    font-size: 40px;

}